<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.huasport.smartsport">

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 集成react-native-image-picker拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- ShareSDk Need -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- kezw -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.NETWORK_PROVIDER" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5b3079c7a40fa309e2000013" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.pcenter.loginbind.view.LoginActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- tencent AppId -->
                <data android:scheme="tencent101496667" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <activity
            android:screenOrientation="portrait"
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <!--绑定手机号-->
        <activity android:name=".ui.pcenter.loginbind.view.BindPhoneActivity"
            android:screenOrientation="portrait"
            />
        <!--设置-->
        <activity android:name=".ui.pcenter.settings.view.SettingsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.pcenter.settings.view.PersonalMsgActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.matchapply.view.BannerRuleActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.matchgrade.view.SelectMatchProgramActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.matchgrade.view.MatchGradeRankingsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.discover.view.ArticleDetailActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.discover.view.DynamicDetailActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.discover.view.ReleaseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.discover.view.RecommandActvity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.discover.view.ReplyActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.discover.view.LightSocialSearchActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.discover.view.ArticleActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.discover.view.DynamicActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.matchapply.view.MatchListActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.matchapply.view.MatchIntroduceActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.matchapply.view.CompetitionListActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.matchapply.view.FillRegistrationFormActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.matchapply.view.ProtocolActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.matchapply.view.PayMentOrderActivty"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.matchapply.view.ConfirmPayMentActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.matchapply.view.SuccessPaymentInfoActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.matchapply.view.GroupApplySuccessActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.matchapply.bean.GroupApplyActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.matchapply.view.GroupApplyWaitPerfectActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.matchapply.view.AdditionMemberActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.pcenter.view.MatchStatusListActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.matchapply.view.GroupApplyWaitPayActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.matchapply.view.RegistrationInformationActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.matchapply.view.SearchActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.pcenter.medal.view.MedalPaySuccessActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.pcenter.attention.view.AttentionActivity"
            android:screenOrientation="portrait"
            />
       <activity android:name=".ui.pcenter.view.PersonalScoreCardAvtivity"
           android:screenOrientation="portrait"
           />
        <activity android:name=".ui.pcenter.view.PersonalPrimordialMyGradeActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.pcenter.view.PersonalMyOrderActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.pcenter.view.PersonalMyGradeDetailActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.pcenter.view.PersonalMyCardListActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.pcenter.view.PersonalMyApplyCardActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.pcenter.view.PersonalCenterWebActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.pcenter.medal.view.PersonalMyMedalActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.pcenter.medal.view.PersonalMedalDetailActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.pcenter.medal.view.PersonalMedalConfirmOrderActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.pcenter.medal.view.LookUpCertificateActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.pcenter.medal.view.ImmediatelyPayActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.pcenter.medal.view.AddNewAddressActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.pcenter.attention.view.AddFriendsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.pcenter.approve.view.PcenterApproveActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.pcenter.medal.view.AddAddressActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.pcenter.approve.view.ApproveResultActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.pcenter.approve.view.ApproveActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.pcenter.view.PersionAboutMyActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.pcenter.view.PerCenterSuccessOrderDetailActivity"
            android:screenOrientation="portrait"
            />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.huasport.smartsport.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--suppress AndroidDomInspection -->
        <service
            android:name=".api.DownloadApkManager"
            android:enabled="true" />

    </application>

</manifest>